{% extends 'app/templates/base.html' %}

{% block content %}

<header>
  <h1>Goose Fathers</h1>
  <p class="author">By Lucy Wang</p>
</header>

<p>In the heat of summer, I awake to the familiar ping of a new phone message. It’s from my dad.</p>
<p>“Check out this curious audience that gathered to watch me do tai chi!” he writes in Chinese, below a picture of geese on the Lakefill.</p>
<p>My parents are visiting me in Evanston, where I’ve stayed for a summer internship, and already they’ve settled into a morning routine: stroll through campus, do tai chi at the Lakefill and eat a breakfast of fruit and boiled eggs, all before I roll out of bed. In a half-awake daze, I contemplate replying with something like, “Baba, what a goose father.”</p>
<img src="../img/1.png" />
<p>Goose father. It’s a term I’ve learned only recently, but one that’s been applicable to me since I was six.</p>
<p>Primarily a South Korean phenomenon, goose fathers, or gireogi appa as they’re called in Korean, work in their home countries while supporting their wives and children who live and study overseas. The separation is usually for education and English immersion, so countries like Canada, the U.S., Australia and New Zealand are popular migration destinations. In Sino-cultures, the umbrella term astronaut family - or taikong jiating - is used to describe similar transnational arrangements.</p>
<p>In fact, there’s a whole genus of zoomorphic and galactic-themed terms to describe the various transnational arrangements.</p>
<div id="filters">
  <div class="ui-group">
    <h3>Language</h3>
    <div class="button-group js-radio-button-group" data-filter-group="color">
      <button class="button is-checked" data-filter="">any</button>
      <button class="button" data-filter=".chinese">Chinese</button>
      <button class="button" data-filter=".korean">Korean</button>
    </div>
  </div>
  <br />
  <div class="ui-group">
    <h3>Are the children abroad?</h3>
    <div class="button-group js-radio-button-group" data-filter-group="size">
      <button class="button is-checked" data-filter="">any</button>
      <button class="button" data-filter=".abroad">Yes</button>
      <button class="button" data-filter=".other">No</button>
    </div>
  </div>
</div>
<br />
<div class="isotope">
	<div class="element-item korean other">
		<h4>Sparrow Family <br />참새 가족</h4>
		<hr>
		<p class="description">A family in which the main breadwinner works in the home city and rents a studio apartment for the others in Seoul's Gangnam district, an area full of test prep cram schools known as <i>hagwon</i></p>
	</div>
	<div class="element-item korean other">
		<h4>Weekend Family <br />주말 가족</h4>
		<hr>
		<p class="description">A family in which the main breadwinner lives and works alone on weekdays, traveling home to live with the family on weekends</p>
	</div>
	<div class="element-item korean abroad">
		<h4>Eagle Family <br />독수리 가족</h4>
		<hr>
		<p class="description">A goose family in which the main breadwinner can afford to visit the family regularly; the term is a nod to the flight proclivities of eagles</p>
	</div>
	<div class="element-item other abroad chinese">
		<h4>Astronaut Family <br />太空家庭</h4>
		<hr>
		<p class="description">An umbrella term to describe any form of transnationality within the family; sometimes the parents live and work abroad while the children stay in the home country; other times the parents travel overseas to visit their parachute kids</p>
	</div>
	<div class="element-item korean abroad">
		<h4>Penguin Family <br />펭귄 가족</h4>
		<hr>
		<p class="description">A goose family in which financial constraints prevent the main breadwinner from visiting the family regularly; the term is a nod to penguins' inability to fly</p>
	</div>
	<div class="element-item abroad chinese">
		<h4>Parachute Kids <br />降落伞孩子</h4>
		<hr>
		<p class="description">A family in which children are sent overseas to live with relatives or alone at boarding schools</p>
	</div>
	<div class="element-item korean abroad">
		<h4>Goose Family <br />기러기 가족</h4>
		<hr>
		<p class="description">A family in which the main breadwinner works in the home city, sending the rest of the family to live and study overseas</p>
	</div>
</div>
<br />
<p>And the longer it’s been since I’ve left home for college, the stronger my fascination with my own family’s transnationality.</p>
<p>Baba became a goose father and us a goose family in November 2000. My memory of that time is filled with the littlest of details: how I cried into my grandma’s pillow when my parents told me we were moving to Canada; how the stewardess handed me a bandaid and a pack of crayons on the red-eye from Beijing to Vancouver after I cut my finger on the handle of a suitcase; how Mama guided me through classroom show-and-tells and the concept of the tooth fairy.</p>
<p>Three months after we moved, Baba returned to China. After helping Mama and me settle into our new life, he left to set up his own.</p>
<p>And here’s where my memory clouds, where my six-year-old understanding of parental sacrifice falls short. Visible were Baba’s descriptions of his job and rented apartment, Mama’s efforts to update him on my growth spurts and my eager-to-please attitude toward both of them. Less so was how Mama navigated a foreign culture, hyperactive first-grader in tow, while Baba worked half a world away to support our family, our future and my education.</p>
<p>Only now do I see how absolute the educational effects of our transnational separation are. I wouldn’t be here, confident in my command of English, studying journalism and art history and the stuff of a liberal arts education, if I didn’t set foot in that Vancouver classroom three months into first grade.</p>
<p>Brian Lee, a Weinberg political science major who graduated last spring, sees his goose family upbringing and Northwestern matriculation as cause and effect. “I have no doubt that I wouldn’t be here if they didn’t move me as a child,” he said. “The pathways in Korea are much narrower than here.”</p>
<p>He speaks with an even keel, one of those rhythmic voices that perpetually wavers between hesitant and steadfast. But as we discuss the steps that led him to an American high school, then to Northwestern and beyond, his conviction is unwavering. Born in Tempe*, Arizona, Lee moved to Seoul, South Korea with his parents at age six and lived there until age 13*. Then, in eighth grade, he, his mother and his sister moved to Princeton Junction, New Jersey, while his father continued working in Seoul.</p>
<p>“I wasn’t a bad student by Korean standards. I was really good at test-taking. Because of that, my parents weren’t necessarily worried that I would do poorly if I’d stayed there,” Lee said. “But ultimately, they envisioned that I would go to an American college.”</p>
<p>For Medill junior HyoJin Park, the choice to go to an American college was just as much self-motivated as it was parentally-influenced. When Park’s father signed a five-year work contract in Singapore, her entire family moved from Seoul to Singapore, where she and her two younger sisters enrolled at an American-style international school. When the contract ended in her freshman year of high school, her father faced two choices: return as a family and enroll his three daughters in local Korean schools or return alone while the rest of the family stayed put.</p>
<p>“I didn't think I could achieve my full potential in Korea. I could read, write, speak perfect Korean, but every time I went back to Korea, I felt like there was some kind of unbridgeable distance between these students in Korea and me, and I really didn't want my parents to force me to cross that bridge,” Park said. “I begged my parents, and they knew that this was very important for me, that this was going to do something big for me and my sisters by staying in Singapore.”</p>
<p>Our three accounts are full of contrasting detail. Lee’s and Park’s fathers worked in South Korea and mine in China. Lee moved to the U.S., Park to Singapore, I to Canada. They both have younger siblings, while I’m an only child. But that’s precisely the nature of goose families. They’re not defined by facts, nor by geographic locations. They’re defined first by a feeling: discontent with domestic educational practices. Then come life-altering decisions and a transnational move. When the dust settles, there’s another feeling, this time on the part of the goose children. Somewhere between Confucian filial piety, guilt and gratitude, there’s the realization that although the transnational move was not our decision to make, the sacrifices that came with it were for our sake.</p>
<p>“When I think of my dad, the usual image that makes me feel guilt more than anything is how he must be dialing his Singapore home phone number, like, seven times a day. Four out of those seven times we don’t even answer because we’re at school or my mom’s at her job. Then when we do pick up, it’s the same conversation,” Park said. “‘Did you eat your meals? How are you? How are your classes?’ The emotional sacrifice of having to live apart is something that cannot be ignored.”</p>
<p>My correspondence with Baba existed less through phone and more through the now-defunct MSN Messenger app, but it came with the same bittersweetness that Park describes. We would hack our time difference, typing emoticons at each other for hours. If Mama needed to go somewhere in the evenings, she turned on the webcam so Baba could babysit me from his midday office halfway around the world. We never discussed our goose family circumstances during those conversations, nor during the three or four times every year when Baba visited us. What was there to say about the sacrifice of being apart when every day we lived with it? Instead, I funneled my energy into perfectionism. If giving up a nuclear family structure was educationally motivated, I rationalized, then I’d better do Mama and Baba proud.</p>
<p>It’s a mentality that’s stayed with me from elementary school to middle school, when Mama and I moved back to China and our goose family evolved into a weekend family. And now that Lee, Park, I and other Northwestern goose children have left home, our gaze is fixed less on our past transnationality and more on its lingering effects.</p>
<p>“My parents tell me that as long as I’m happy with what I’m doing, I’m fine,” Lee said. “But there’s an implied sense of obligation for success, however you define success. I don’t want [my parents’] efforts to go in vain.”</p>
<p>While his goose family structure culminated in his Northwestern matriculation, it also affected his parents and now-13-year-old sister.</p>
<p>“Moving to and from America wasn’t something conventional. This was a lot of effort on a lot of people’s parts,” Lee said. “It’s not like a loan I can repay every month in a monetary value. It’s just going to be there for the rest of my life.”</p>
<p>Park articulates her gratitude in an even more unflinching tone.</p>
<p>“I feel like I can’t fail because I can’t let myself down and I don’t want to let my family down,” she said. “It’s a pressure that all of us who’ve grown up in this family structure have to carry. I don’t think we carry it with spite or anything. I’m just so grateful for who I am at the moment because of what they’ve given me that I wouldn’t have it any other way.”</p>
<img src="../img/2.png" />
<p>I don’t reply with, “Baba, you’re a goose father.” I don’t reply at all at first.</p>
<p>Instead, I go for a lakeside run, chance upon the same flock of geese and snap a photo of them to send to Baba.</p>
<p>At breakfast a few days later, our conversation turns to those Lakefill geese, then to goose families. Or, more accurately, I ask Mama and Baba about our goose family arrangement for the first time ever.</p>
<p>“After all the trouble, you turned out alright, so it was worth it,” is Baba’s response in Chinese. “If you turned out to be the prodigal type, all the trouble would have been a waste.”</p>
<p>His twinkling smile betrays understatement, but it isn’t really the answer I’m looking for.</p>
<p>Then again, I don’t know what questions I’m asking, let alone their answers. All I know is that in sociology papers and the general literature on goose families, I can only vaguely see a likeness of mine. In “Predictive model of Health-related Quality of Life of Korean Goose Daddies” University of Suwon Professor Eun Jeong Cha estimates that there are about 500,000 goose fathers in total, but I’ll still never know all the decisions and details of my own goose father. Johanna L. Waters’ “The Flexible Family?” examines the tax arrangements that come with Canadian astronaut family immigration, but it overlooks all the experiences between our annual tax filing.</p>
<p>Maybe that’s why I bring up our goose family to Mama and Baba, why I then reach out to HyoJin Park, Brian Lee and other goose children at Northwestern, why I write this.</p>
<p>Maybe there are no answers.</p>
<p>We’re goose children, yes, but we’ve left the nest.</p>
{% endblock %}
