{% extends 'app/templates/base.html' %}

{% block content %}

<header>
  <h1>Books we're thankful for</h1>
  <p class="author">By North by Northwestern Staff</p>
</header>

<p>Our staff were readers before they were writers, so we're giving thanks to the written word. We looked back at the books that have shaped our perspective &ndash; whether we encountered them in childhood or recently.</p>
<br />

<div class="isotope">
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-1"><img src="../img/tfios.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-1">
			<div class="md-content">
				<h3><em>The Fault in Our Our Stars</em><span class="author"> by John Green</span></h3>
				<h4>by Meghan Gresk</h4>
				<div>
					<p>I may sound biased to point to <em>The Fault in Our Stars</em> as my favorite book due to its recent film adaptation. But I truly adore the story on a multitude of levels, from its relatability as a teen love story to its irreverent attitude toward life, and that&rsquo;s why it has stuck with me ever since its release.</p>
					<p>I became a fan of <a href="http://www.youtube.com/user/vlogbrothers" target="_blank">John Green&rsquo;s YouTube channel</a> around the summer of 2011. When I heard he had a book coming out the following January, I rushed to read all his older books and pre-ordered my autographed copy of <em>The Fault in Our Stars</em>. I remember, after watching a mediocre performance of the book at a high school forensics tournament the following month, fervently convincing my friends that it was the best book I&rsquo;d ever read.</p>
					<p>The novel turns the stereotypical teen love story on its head. Hazel Grace Lancaster, 16, meets 17-year-old Augustus Waters at a therapy group for kids with cancer. You inevitably root for them as they bond over their dark humor (Gus refers to himself as the &ldquo;17-year-virgin with one leg&rdquo;) and toe the line between friends and something more for what seems like forever. But their illnesses remind you that forever isn&rsquo;t possible.</p>
					<p>The book itself is also just so darn quotable. John Green captured the way teenagers communicate. His characters are not only intelligent, but also complex, making the book relatable on all levels despite its underlying theme of terminal disease. As an aspiring young adult author, this book made me hope that I too could change lives simply by indulging myself in writing about the heightened emotions and experiences of teenagedom.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-2"><img src="../img/abarat.jpg" ></div>
		<div class="md-modal md-effect-1" id="modal-2">
			<div class="md-content">
				<h3><em>Abarat</em><span class="author"> by Clive Barker</span></h3>
				<h4>by Sophie Weber</h4>
				<div>
					<p>When I was a teenager I encountered a bizarre book called <em>Abarat. </em>I was<em>&nbsp;</em>old enough to understand it, but young enough for my childhood imagination to be blown wide open by this intricate tale. Clive Barker merges visual and written mediums, constructing a vibrant fantasy world in words and oil paint illustrations.</p>
					<p>I was skeptical at first&ndash; a story about a girl named Candy Quackenbush, from a place called <em>Chickentown</em>? The outset smelled of kitsch, but the story I discovered was deeply layered and certainly dark.</p>
					<p>It begins at the outskirts of her Minnesota town, when Candy stumbles upon a strange, horned creature named Mischief, and the sinister being pursuing him. To escape with her life, Candy unwittingly completes a task which summons an ocean, drawing her and her new acquaintance into the parallel world from which he came.</p>
					<p>So begins her journey in Abarat, an alternate reality comprised of twenty-five islands that each occupy a different hour of the day. In the events that unfold, there are greater powers at work than Candy yet realizes: insidious forces, as well as the pull of her own density, her divine purpose.</p>
					<p>I entreat anyone interested in fantasy, art, surrealism, or amazing female protagonists to peruse this read. It was incredibly formative for me at the limbo between childhood and adulthood, demonstrating that a young girl like me could be both vulnerable and strong, as she encounters those trying to destroy her with resourcefulness and resilience.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-3"><img src="../img/gone.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-3">
			<div class="md-content">
				<h3><em>Gone</em><span class="author"> by Michael Grant</span></h3>
				<h4>by Colin Repetti</h4>
				<div>
					<p>As a shameless fan of most young adult fiction, it&rsquo;s only fitting that my favorite book be the first installment of&nbsp;<em>Gone</em>, my favorite YA series. Michael Grant&rsquo;s <em>Gone</em> takes place in a coastal California town in which everyone over the age of 15 suddenly disappears.</p>
					<p><em>Gone</em> won&rsquo;t ever be considered a great piece of literature, and I don&rsquo;t care. When I read for pleasure, I value the story that is told more than skilled writing or literary merit. I prefer fun and easy reads that naturally lead me to consider broader messages, rather than those which I have to dissect to fully understand.</p>
					<p>Grant does this by pairing unique plot elements: the random disappearance of all adults, the sudden appearance of a giant energy dome, the development of supernatural abilities more unique than those framed in mainstream media. They tell a story, but also lead me to contemplate themes of power, politics and wealth. Although the story is the primary focus, I can&rsquo;t read it without considering these big-picture elements.</p>
					<p>Grant also doesn&rsquo;t fall into many of the common tropes YA series&rsquo; tend to have such as a romance that cheapens the story or an evil government or organization oppressing the people. His writing is more thought-provoking than that of most other YA writers, yet doesn't require you to dissect the text. I believe that Grant wrote <em>Gone</em> without trying to appease anyone. He had a unique idea that he wanted to make into a fun story, and I think he succeeded.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-4"><img src="../img/treasureisland.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-4">
			<div class="md-content">
				<h3><em>Treasure Island</em><span class="author"> by Robert Louis Stevenson</span></h3>
				<h4>by Tyler Daswick</h4>
				<div>
					<p>In their purest form, books exist to take us on adventures, and when I was a kid, Robert Louis Stevenson&rsquo;s <em>Treasure Island</em> took me on the adventure of a lifetime.</p>
					<p>It was the first book I remember my father reading to me when I was a kid. I remember how it riveted me with vivid descriptions of evil buccaneers and bloated chests full of gold. For half an hour every night, my little mind was kidnapped by pirates and sailed across the seven seas. Friends became enemies, enemies became friends. Surprise, danger and glory waited at every turn. I loved it.</p>
					<p>Nowadays, I feel like too many books rely on plot-mashing twists, abstract structures or manipulative themes when they want to be memorable. Few novels simply try to tell a good story, and thus reading&nbsp;<em>Treasure Island,&nbsp;</em>with its refreshing emphasis on pure adventure, feels like being caught in a lifeboat. It is a book that functions primarily as a story &ndash; not a message, not a metaphor &ndash; just a page-turner. It&rsquo;s terrific.</p>
					<p>And indeed, the book set the precedent for every other adventure tale and pirate story that followed. <em>Pirates of the Caribbean</em> has its parrots and wooden legs because of this book. <em>Master and Commander</em> has its aboard-the-ship drama because of this book. Even <em>The Goonies</em> owes its treasure hunt to Stevenson&rsquo;s novel. Simply put, our modern image of pirates is because of <em>Treasure Island</em>.</p>
					<p>Coupling the thrill of its action with memorable, archetypal characters, <em>Treasure Island</em> is the best story I have ever read. Years and years ago, it set me off on a grand journey to find my own adventure. It taught me the power of a great story, and it inspired me to tell my own tales.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-5"><img src="../img/catscradle.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-5">
			<div class="md-content">
				<h3><em>Cat's Cradle</em><span class="author"> by Kurt Vonnegut</span></h3>
				<h4>by Krish Lingala</h4>
				<div>
					<p>"Tiger got to hunt, bird got to fly; Man got to sit and wonder, 'Why, why, why?' Tiger got to sleep, bird got to land; Man got to tell himself he understand."</p>
					<p>Kurt Vonnegut&rsquo;s <em>Cat&rsquo;s Cradle</em> is peppered with quotes like these, called <em>calypsos</em>, songs of his fictional religion Bokononism. Vonnegut follows Jonah, who is writing a book on a (fictional) co-creator of the atomic bomb, Felix Hoenikker. As he tracks down Felix&rsquo;s children to write his book, he finds his way to the fictional island of San Lorenzo, where a dictator has gotten his hands on one of Felix&rsquo;s deadliest inventions.</p>
					<p>Vonnegut has a knack for doling out beautiful wisdom, even as he makes you laugh with terror at how stupid humans can be. He never lets his characters become caricatures in the process and their complexity gives added weight to the themes of the book.</p>
					<p>Even two years after I first read it, I can see how my desire to volunteer and be active in social issues draws from Vonnegut&rsquo;s descriptions of human folly. What he sees in the world are arbitrary divisions that arise from a lack of empathy. And seeing the value of empathy has given me a more positive outlook on life stem. With <em>Cat&rsquo;s Cradle</em>, Vonnegut asks us to laugh, rather than weep, at the state of humanity.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-6"><img src="../img/alfredkropp.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-6">
			<div class="md-content">
				<h3><em>The Extraordinary Adventures of Alfred Kropp</em><span class="author"> by Rick Yancey</span></h3>
				<h4>by Evan Rindler</h4>
				<div>
					<p>Not everyone hurts the same. It&rsquo;s a simple idea, the foundation of true sympathy. In practice, however, it&rsquo;s easy to judge people who don&rsquo;t react how you expect.</p>
					<p>Rick Yancey taught me about pain and healing in his novel <em>The Extraordinary Adventures of Alfred Kropp</em>. It may be a book about superspies and Arthurian knights in a race to save Excalibur, but it also contains a fantastic depiction of grief. The protagonist is Alfred, a maladroit 15 year old who has just lost his mother to cancer. In therapy, when asked to describe what he misses most about her, he picks her cooking.</p>
					<p>He feels no anger toward her doctors or the disease that took her life. His doctor misunderstands his answers and prescribes him an antidepressant. To be sure, Alfred is hurting. But he needs a friend or a mentor, not a drug or to be misdiagnosed as depressed. He needs help to reconcile the lessons of hope his mother taught him and the harsh reality he lives in.</p>
					<p>Despite his hardships, Alfred&rsquo;s optimism is his defining characteristic. He earns his place amongst Arthurian knights not by physical or mental ability, but because he&rsquo;s true of heart. I learned that hope and bravery are concepts that can function in a cold world &ndash; and they can even be exemplified by Alfred, a guy who just wants another taste of his mom&rsquo;s cooking.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-7"><img src="../img/angelasashes.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-7">
			<div class="md-content">
				<h3><em>Angela's Ashes</em><span class="author"> by Frank McCourt</span></h3>
				<h4>by Tia Anae</h4>
				<div>
					<p>My definition of a favorite book is one that I can reread without feeling guilty that I am sacrificing the discovery of something new in a book I haven&rsquo;t read before. Since I never loved any one book enough to read it more than once, I lacked a favorite for most of my life. Then I found <em>Angela&rsquo;s Ashes</em>. It evoked in me such an acute understanding of childhood that the only way to experience that reminiscent pleasure was to read the book again.</p>
					<p>The 1996 Pulitzer Prize-winning memoir is the achingly hilarious story of a boy raised in the slums of Ireland. Though his miserable Irish Catholic upbringing doesn&rsquo;t compare to my childhood, young Frank McCourt&rsquo;s suspicion of authority resonates with me. Frank is surrounded by adults who tell him to die for Ireland and die for the Faith and his speculations like &ldquo;I wonder if there&rsquo;s anyone in the world who would like us to live&rdquo; evoke childlike feelings of confusion and curiosity to which I relate. Not to mention, 363 pages of Irish wit - the kind I heard from my mom&rsquo;s Irish brogue imitations as a kid - add comic relief to an otherwise dismal tale. One minute Frank is sucking the vinegar from the wrappings of an abandoned tray of fish and chips because there's no food at home. The next he's telling you, &ldquo;The English wouldn&rsquo;t give you the steam of their piss.&rdquo;</p>
					<p>I think there&rsquo;s a lot to be said for writing that isn&rsquo;t intimidating. <em>Angela&rsquo;s Ashes</em> is beautiful because it&rsquo;s innocent and unassuming. McCourt&rsquo;s story of poverty is at times depressingly pathetic, but it taught me that honesty, especially witty honesty, is the best avenue toward letting go. It&rsquo;s a book that I miss when I&rsquo;m not reading it, and one that I can never put down when I am.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-8"><img src="../img/oldman.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-8">
			<div class="md-content">
				<h3><em>The Old Man and the Sea</em><span class="author"> by Ernet Hemingway</span></h3>
				<h4>by Jason Mast</h4>
				<div>
					<p>Barebones were his words and barebones were his characters: the impoverished boy, the old man, &ldquo;thin and gaunt with deep wrinkles in the back of his neck.&rdquo; Yet in the sparse prose of Hemingway&rsquo;s <em>The Old Man and the Sea</em>, rests layers of depth, the complexity of cross-generational bonds, complexity of senility, complexity of man&rsquo;s relationship with nature.</p>
					<p>But any English professor could tell you that. Santiago, the novella&rsquo;s protagonist, is a fisherman who has not caught a fish in 84 days.He has no money for food. His wife died years ago and he sleeps on tattered newspapers.</p>
					<p>As a boy, I wanted to play - to quote Santiago - &ldquo;the baseball.&rdquo; I idealized pinstripes and memorized batting averages before phone numbers. Playing in the backyard, I dreamt of the &ldquo;grand leagues,&rdquo; borrowed trashcan tops for bases and used the neighbor&rsquo;s fence for outfield walls. But over time I forgot. Textbooks replaced batting gloves and stadiums shrunk into classrooms .</p>
					<p>But <em>The Old Man and the Sea</em> can still remind me of those aspirations. It is a romantic treatise to the power of dreams, a testament that they never have to die and never should. Through the destitute decades, Santiago never lost those wide-eyes of youth: &ldquo;Everything about him was old except his eyes and they were the same color as the sea and were cheerful and undefeated.&rdquo; It&rsquo;s a short book, 115 pages or so in total. It&rsquo;s slim, fitting into my back pocket, a constant reminder of youth and baseball and dreams.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="element-item">
		<div class="md-trigger" data-modal="modal-9"><img src="../img/bookthief.jpg" /></div>
		<div class="md-modal md-effect-1" id="modal-9">
			<div class="md-content">
				<h3><em>The Book Thief</em><span class="author"> by Markus Zusak</span></h3>
				<h4>by Ali Pelczar</h4>
				<div>
					<p>When I heard about an upcoming movie adaptation of <em>The Book Thief</em>, I knew immediately that I would never see it. I love that book too much to let someone else&rsquo;s vision of it replace my own experiences.</p>
					<p>I first encountered Markus Zusak&rsquo;s work in sixth grade, before I understood the privilege of literacy and the complexities of World War II. <em>The Book Thief</em> didn&rsquo;t teach me these things, but it did teach me the power of a narrator: in this case, Death.</p>
					<p>Liesel, a foster girl living in Munich, Germany, in 1939, can&rsquo;t resist books, even though she&rsquo;s just learning to read. She steals them from a fire, the mayor&rsquo;s house and the gravediggers who bury her brother. Meanwhile Death, who constantly interrupts the narrative to offer an opinion, describes the colors of the sky with haunting eloquism.</p>
					<p>As Liesel shares her stolen stories with her neighbors during bombing raids, I understood the power of the written word. And when Max, the Jewish man hidden in her basement, paints his own story over the pages of <em>Mein Kampf</em>, I understood the power of those who write them. To me, translating this novel to the screen is ignoring Zusak&rsquo;s power.</p>
					<p>Zusak shows humanity at its best and worst. And after reading this novel, I agree with Death: I am haunted by humans.</p>
					<button class="md-close">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="md-overlay"></div>
{% endblock %}